---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import { getBlogs } from "src/lib/microcms";

// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const last_posts = posts.slice(0, 3);

// microCMSから情報をインポート
const blogs = await getBlogs({ fields: ['id', 'title', 'heroImage', 'content']});
const lastBlogs = blogs.contents.slice(0, 5);


---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12">
    <div class="text-xl py-1">こんにちは 👋</div>
    <div class="text-5xl font-bold">I'm Daichi Fukui</div>
    <div class="text-3xl py-3 font-bold">Frontend Developer</div>
    <div class="py-2">
      <div class="text-lg">
        ユーザーに非日常的な体験を与えられるアニメーションに魅力を感じます。<br>
        得意分野はGSAPによるアニメーションで、WebGLによるインタラクティブなアニメーションにも物凄く興味があります。<br>
        今後はアニメーションのスペシャリストとしてさらにスキルを高めつつ、<br>
        システム開発における知識も深め、幅広いプロジェクトに貢献できるエンジニアを目指しています。
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest from projects</div>
  </div>

  <HorizontalCard
    title="プロジェクト 1"
    img="/post_img.webp"
    desc="ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="プロジェクト 2"
    img="/post_img.webp"
    desc="ダミーテキストダミーテキストダミーテキストダミーテキスト<br>改行"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="プロジェクト 3"
    img="/post_img.webp"
    desc=""
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  <ul>
    {
      lastBlogs.map((blog: any) => (
        <>
          <li>
            <HorizontalCard
              title={blog.title}
              url={`/blog/${blog.id}`}
              img={blog.heroImage?.url || '/post_img.webp'}
              target="_self"
            />
          </li>
          <div class="divider my-0" />
        </>
      ))
    }
  </ul>

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
